* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag:none;
  -o-user-drag:none;
  user-select:none;
}

body {
  background-color: gray;
}

/* S */
#sessions {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Session */
.session {
  padding-bottom: 15px;
}

/* Session tabs */
.session-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;  
}

/* Session Tabs Containers */
.session-tabs > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: lightgray;
}

/* Session Tabs Close/Favicon */
.session-tabs > * > img {
  width: 16px;
  height: 16px;
}

/* Session Tabs Close */
.tab-delete {
  width: 12px !important;
  height: 12px !important;
  visibility: hidden;
}



/* Session Header Tools Star/Close*/
.session-tools > * {
  opacity: 1;
  padding-left: 5px;  
  transition: 0.2s;
}
.session-tools > *:hover {
  opacity: 0.5;
}

/* Session Tabs Close/Favicon/Domain */
.session-tabs > * > * {
  padding-right: 5px;
}

/* Session Header */
.session-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 25px;
  /* background-color: green; */
}

.session-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 25px;

  /* background-color: yellow; */
}

.session-data > * {
  padding-right: 5px;
}

/* Session Header Tools */
.session-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25px;
  /* background-color: red; */
}

/* Session Header Title */
.session-title {
  font-weight: 350;
  font-size: 25px;
}

/* Session Header Date */
.session-date {
  font-weight: 150;
  font-size: 16px;
}



