body {
  background-color: gray;
}

p {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.session-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -25px;
}

.session-header > * {
  padding-right: 5px;
}

.session-title {
  font-size: 25px;
}

.session-date {
  opacity: 0.5;
  font-size: 13px;
}

.session-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.session-tabs > * {
  margin-bottom: -15px;

  color: lightgray;
  transition: 0.2s;
}

.session-tabs > *:hover {
  color: white;
}

.session-tabs > *:active {
  color: white;
}




