body {
  background-color: gray;
}

p {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

/* S */
#sessions {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Session */
.session {
  padding-bottom: 15px;
}

/* Session tabs */
.session-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;  
}

/* Session Tabs Containers */
.session-tabs > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: lightgray;
  transition: 0.2s;
}
.session-tabs > *:hover {
  color: white;
}
.session-tabs > *:active {
  color: white;
}

/* Session Tabs Close/Favicon */
.session-tabs > * > img {
  width: 16px;
  height: 16px;
}

/* Session Tabs Close */
.tab-delete {
  width: 12px !important;
  height: 12px !important;
  visibility: hidden;
}

/* Session Tabs Close/Favicon/Domain */
.session-tabs > * > * {
  padding-right: 5px;
}

/* Session Header */
.session-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}

/* Session Header Title/Date/Star */
.session-header > * {
  padding-right: 5px;
}

/* Session Header Title */
.session-title {
  font-weight: 350;
  font-size: 25px;
}

/* Session Header Date */
.session-date {
  font-weight: 150;
  font-size: 16px;
}



